@use "variaveis";

.hero {
  padding: 5.6vw;
  margin-top: 15px;
  margin-left: 15px;
  min-height: 80vh;
  background-image: url(../images/Logos/srkXPyRY4FiQRVbwoCBEESAibAA.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;

  @media (max-width: 768px) {
    background-image: url(../images/Logos/7qqLlhMgLxEXS7uLb5oPnCt7tjT.webp);
  }

  &__content {
    margin-left: 60%;
    text-align: center;
    position: relative;
    max-width: 40%;

    @media (max-width: 768px) {
      margin-left: 0;
      max-width: 100%;
    }
  }
}
